<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{receipt.name}}">
  <ion-nav-bar class="bar-balanced"> 
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content has-header="true" padding="true">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/itsu-logo66x66.png">
        <h2>{{receipt.address}}</h2>
        <h2>{{receipt.address2}}</h2>
        <p>visited: <span>{{receipt.date}}</span></p>
      </div>
 <!--      <div class="item">
        <h1> </h1>
      </div> -->
      <div class="item item-icon-left balanced">
        <i class="icon ion-ios7-information-outline"></i>
        thank you!
      </div>
    </div>
  </ion-content>
</ion-view>
