<ion-view title="loyalty">

  <ion-nav-bar class="bar-balanced">  
    <img class="title-image"> 
  </ion-nav-bar>

  <ion-content class="has-header">    
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="list card">
          <div class="item item-avatar">
            <img src="img/itsu-logo66x66.png">
            <h2>loyalty card</h2>
            <p>track and redeem your loyalty</p>
          </div>
        <div class="item item-image">
          <img src="img/loyalty-card.png">
        </div>
        <a class="item item-icon-left balanced" href="#" ng-click="getLoyaltyCard()">
          <i class="icon ion-ios7-plus"></i>
          get it for your passbook
        </a>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="list card">
          <div class="item item-avatar">
            <img src="img/itsu-logo66x66.png">
            <h2>coupon</h2>
            <p>discounts taylored to you</p>
          </div>
        <div class="item item-image">
          <img src="img/coupon.png">
        </div>
        <a class="item item-icon-left balanced" href="#" ng-click="getCoupon()">
          <i class="icon ion-ios7-plus"></i>
          get it for your passbook
        </a>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
